@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="jumbotron">
        <img class="img img-responsive" src="~/Content/LOGO_PAULA.png"></img>
        
        

    </div>

</div>

